* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
ul,
li {
  list-style: none;
}
.hover-bg:hover {
  background: #7296f8;
  color: #fff;
}
:root {
  --bgColor: #000407ff;
  --infoColor: #997cb8ff;
  --primaryColor: #2b5eff;
  --secondaryColor: #ff6b42;
  --dangerColor: #ff2429;
  --successColor: #28c129;
  --hoverBgColor: #b6b6b6;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #3e59f1;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
}

.mb-8 {
  margin-bottom: 8px;
}
.float-right {
  float: right;
}

.min-width {
  min-width: 630px;
}
