* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
ul,
li {
  list-style: none;
}
.hover-bg:hover {
  background: #7296f8;
  color: #fff;
}
:root {
  --bgColor: #000407ff;
  --infoColor: #997cb8ff;
  --primaryColor: #2b5eff;
  --secondaryColor: #ff6b42;
  --dangerColor: #ff2429;
  --successColor: #28c129;
  --hoverBgColor: #b6b6b6;
  --mainColor: #282a36;
  --borderColor: #454547;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #3e59f1;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
}

.mb-8 {
  margin-bottom: 8px;
}
.float-right {
  float: right;
}

.min-width {
  min-width: 630px;
}

.el-input.is-disabled .el-input__inner,
.el-input__inner,
.el-input-group__append,
.el-input-group__prepend,
.el-table th,
.el-table tr,
.el-table--striped .el-table__body tr.el-table__row--striped td,
.el-table__empty-block {
  background: var(--mainColor);
}
.el-input.is-disabled .el-input__inner,
.el-input__inner,
.el-input-group__append,
.el-input-group__prepend,
.el-table th,
.el-table tr,
.el-table--striped .el-table__body tr.el-table__row--striped td,
.el-table__empty-block,
.el-table--border,
.el-table--group,
.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed,
.el-table td,
.el-table th.is-leaf {
  border-color: var(--borderColor);
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: var(--borderColor);
}
.el-loading-mask {
  background-color: rgb(39 39 39 / 90%);
}
